@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

.box-1 {
    background-color: #50B1D4;
    height: 250px;
    width: 230px;
    border-radius: 20px;
    margin: 10px;
    margin-top: 50px;
    padding-top: 15px;
    

}

.box-2 {
    background-color: #3375B1;
    height: 270px;
    width: 200px;
    border-radius: 20px;
    margin: 10px;
    border: 7px solid #1F466A;
    padding: 20px;
    
    

}

.box-3 {
    background-color: #50B1D4;
    height: 250px;
    width: 230px;
    border-radius: 20px;
    margin: 10px;
    margin-top: 50px;
    padding-top: 15px;
    

}

.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 50%;
   
    
    
}

.h1-text {
    text-align: center;
    color: #3375B1;
    font-size: 60px;
    font-weight: 900;
    
}

.box-texti {
    padding-left: 60px;
    color: white;
    line-height: 20px;
    
    
}

body {
    font-family: 'Montserrat', sans-serif;
    

}

.button {
    background-color: #6A11B1;
    color: white;
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 30px;
    margin-left: 30px;
    
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

